html, body {
    height: 100%;
    margin: 0;
}

/*-------------------- main container --------------------*/
#level-screen {
    position: fixed;
    display: none;
    z-index: 100;
}

#level-screen-container {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #aaa;
    margin: 0;
    padding: 0;
    height: 100%;
    width:100%;
}

#level-screen-header {
    height: 21%;
    padding: 0;
    text-align: center;
    position:relative;
}

#level-screen-title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30%;
    margin:auto;
    text-align: center;
    font-size: 4em;
}

#level-screen-panel {
    padding: 0;
    width:100%;
    height:60%;
    position:relative;
}

#level-screen-buttons {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 81%;
    height: 80%;
    margin:auto;
    margin-top: 4em;
    text-align: center;
}

#level-screen-buttons button.btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.4em;
    width: 60%;
    height: 25%;
    font-size: 2em;
}

#level-screen #score1 {
    height: 20%;
    padding: 0;
    text-align: center;
    position:relative;
}

#level-screen #score2 {
    position: absolute;
    top: -50%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 3.5em;
}