html, body {
    height: 100%;
    margin: 0;
}

/*-------------------- main container --------------------*/
#leaderboardContainer {
    background-color: #cccccc;
    margin: 0;
    padding: 0;
    height: 100%;
}

/*-------------------- main header --------------------*/
#leaderboardContainer #leaderboardHeader {
    height: 10%;
    margin-bottom: 1em;
    padding: 0;
    text-align: center;
}

#leaderboardContainer #leaderboardHeader  h1{
    font-size: 1.5em;
    display: inline-block;
    padding: 0;
    /*margin: 0;*/
    margin: 10px auto;
}

#leaderboardContainer #leaderboardBack-button {
    position: fixed;
    top: 0;
    left: 0;
}


#leaderboardContainer ul.nav {
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
}

#leaderboardContainer .nav-pills a {
    /*color: #ffffff;*/
    border: 1px solid #337ab7;
}

#leaderboardContainer .tab-content {
    height: 80%;
}

#leaderboardContainer #my-scores, #leaderboard {
    overflow-y: scroll;
    width: 80%;
    max-height: 100%;
    margin: auto;
}
#leaderboardContainer #my-scores tr:first-of-type, #leaderboard tr:first-of-type {
    color: #ffffff;
    background-color: #337ab7;
}

#leaderboardContainer #leaderboard table tr:nth-of-type(2) {
    font-weight: bold;
}

#leaderboardContainer table {
    width: 100%;
    background-color: #ffffff;
}

#leaderboardContainer tr {
    border-bottom: 1px solid lightgrey;
}

#leaderboardContainer th {
}


#leaderboardContainer th, #leaderboardContainer td {
    padding: 3px 5px;
}

#leaderboardContainer .table {
}

#leaderboardContainer .tab-content {
}