/*--- CSS files for logo division ---*/

html, body {
    height: 100%;
    margin: 0;
}

/*-------------------- logo screen container --------------------*/
#logoContainer {
    background-color: black;
    text-align: center;
    z-index: 100;
}

/*-------------------- logo picture --------------------*/
#logoPic {
    text-align: center;
    padding-top: 5em;
}

/*-------------------- logo text --------------------*/
#logoText p{
    color: #DADADA;
    font-size: 3.5em;
    margin: 0;
    font-family: Monofett;
}