/*--- CSS files for menu division ---*/

html, body {
	height: 100%;
	margin: 0;
}

/*-------------------- menu container --------------------*/
#container {
	/*background-color: #aaa;*/
    /*background-image: url('../images/Menu2.gif');*/
    background-repeat: no-repeat;
    /*background-position: bottom right;*/
    background-size: cover;
	background: #2c9eea; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #2c9eea 35%, #7db9e8 68%, #7db9e8 68%, #1e5799 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #2c9eea 35%,#7db9e8 68%,#7db9e8 68%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #2c9eea 35%,#7db9e8 68%,#7db9e8 68%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c9eea', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: 100%;
	width:100%;
    /*background-image: url('../images/MenuBackground.gif');*/
}

/*-------------------- menu header --------------------*/
#container #header {
    color: white;
	height: 20%;
	margin-bottom: 2vw;
	padding: 0;
	text-align: center;
	position:relative;
    font-family: 'Press Start 2P', cursive;
}

#container #headerTitle {
	position: absolute;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30%;
	margin:auto;
	text-align: center;
	font-size: 6vw;
}

#container #panel {
	padding: 0;
	width:100%;
	height:60%;
	position:relative;
}

#container #buttons {
	position: absolute;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 70%;
    height: 90%;
	margin:auto;
	text-align: center;
    font-size: 3vw;
    font-family: 'Wallpoet', cursive;
    z-index: 10;
}

#container #buttons button.btn {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	width: 60%;
	font-size: 4vw;
}

/*-------------------- credits page --------------------*/
#myModal .credits {
	margin: auto;
	text-align: center;
    font-family: 'Wallpoet', cursive;
}

.creditsDiv {
	display: inline-block;
	position: absolute;
	margin: 5vw;
	bottom: 0;
	right: 0;
    z-index:10;
	font-family: 'Press Start 2P', cursive;
}

.creditsDiv a {
	color: white;
}

/*-------------------- tutorial page --------------------*/
#tutorialBack-button {
	z-index: 10;
	position: absolute;
}

.carousel-caption p {
	font-size: 2vw;
    font-family: 'Chango', cursive;
	color:lightskyblue;
}

/*--------------------- Menu gif ------------------------*/