/*--- CSS files for play division ---*/

html, body {
	height: 100%;
	margin: 0;
}

/*-------------------- playContainer --------------------*/
#playContainer {
	background-color: #cccccc;
	margin: 0;
	padding: 0;
	height: 100%;
    font-family: 'Chango', cursive;
}

/*-------------------- playHeader --------------------*/
#playHeader {
	height: 10%;
	margin-bottom: 1em;
	padding: 0;
	text-align: center;
}

#playContainer #playHeader  h1{
	font-size: 1.5em;
	display: inline-block;
	padding: 0;
	margin: 10px auto;
}

#playContainer #back-button {
	position: fixed;
	top: 0;
	left: 0;
}

#playContainer #scoreShow {
	position: fixed;
	top: 0;
	right: 25%;
	width: 15%;
	height: 10%;
	font-size:2vw;
	border: 1px solid red;

}

#playContainer #scoreCombo {
	position: fixed;
	top: 0;
	right: 10%;
	width: 15%;
	height: 10%;
	font-size:2vw;
	border: 1px solid red;

}

#playContainer #timer {
	position: fixed;
	top: 0;
	right: 0;
	width: 10%;
	height: 10%;
	font-size:2vw;
	border: 1px solid red;
}

/*-------------------- game board --------------------*/
#playContainer #grid {
	font-size: 0;
	width: 80%;
	height: 80%;
	margin: auto;
	padding: 0;
	text-align: center;
	border: 0px solid red;
}

/*--- Reset font-size for descendants of grid ---*/
#playContainer #grid * {
	font-size: initial;
}

 #playContainer .tile {
	display: inline-block;
	margin: 0;
}

#playContainer .track {
    background-image: url('../images/track_horizontal.png');
    background-size: 100%;
}

#playContainer .track.vert-track {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

#playContainer #grid .tile {
	font-size: 10px;
}

#playContainer .tileTrainClass {
    background-image: url('../images/train.png');
    background-size: 100%;
    position: relative;
    z-index: 100;
}

/*-------------------- destination button --------------------*/
#playContainer .destButton {
    background-color: white;
	position: relative;
}

/*bigger buttons*/
#playContainer .destButton .destClick{
	background-color: white;
	position:absolute;
	top:0px;
	left:0px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#playContainer .destButton .destClick:hover {
	background: yellow;
}

#playContainer .destButton .destClick:active {
	background: blue;
}

#playContainer .destButton {
	display: inline-block;
	padding: 0;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border-radius: 4px;
}

/*-------------------- sound and music mute buttons --------------------*/
#music {
	position: fixed;
	left: 0;
	bottom: 0;
}

#playContainer #soundMuteBtn,
#playContainer #musicMuteBtn {
	width: 30px;
	height: 30px;
	margin: 0 10px 0 0;
	display: inline-block;
	background-image: url(../images/speaker_on.png);
	background-size: 100%;
}

/*-------------------- credits page link --------------------*/
#music .creditsDiv {
	margin: auto;
    position:fixed;
    right:10%;
}